main.index {
	/* remove white space between blocks */
	/* font-size: 0; */
	padding-top: 30px;
	text-align: center;
}



.link-wrapper {
	width: 100%;
	display: block;
	position: relative;
}
.card {
	position: relative;
	display: inline-block;
	width: 85%;
	margin-bottom: 50px;
}

.image-container {
	width: 100%;
	box-shadow: 0px 10px 50px -10px #9FAFCA;

	border-radius: 7px;
}

.overlay-container {
	width: 100%;
	height: auto;
}

.image-container .image {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 7px 7px 0px 0px;

}

.image-container .image:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.description {
	text-transform: capitalize;
	text-align: left;
	user-select: none;

	padding: 30px 10%;

	width: 100%;
	color: #6E8795;


	font-size: 1rem;

	/* color: black; */
}

a.link-wrapper {
	text-decoration: none;
}


.loginForm, .signupForm {
	width: 80%;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding-bottom: 3rem;
}

.loginForm input, .signupForm input {
	display: block;
	outline: none;
	border: none;
	border-bottom: 1px solid #8f8f8f;

	padding: 10px 0px;
	border-radius: 3px 3px 0 0;

	transition: all 0.5s;
	width: 100%;

	color: #8f8f8f;
}

form input[type="text"]:focus, form input[type="email"]:focus,
	form input[type="password"]:focus {
	/* background-color: #EDF0F7; */
	border-bottom-color: black;
	color: black;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

form label {
	display: block;

	margin-bottom: 10px;
	margin-top: 50px;
	user-select: none;
}

form .submit-container {
	margin-top: 30px;
	padding-bottom: 80px;
	text-align: right;
}

.g-recaptcha {
	float: right;
}

.submit-container button {
	float: right;
}

.login button, .signup button {
	margin-top: 30px;
}

.clearfix {
	height: 0;
	clear: both;
}


form button {
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	background-color: #1CBBB4;
	color: white;
	transition: all 0.35s ease;

	display: inline-block;

	border: none;
	border-radius: 4px;
	padding: 13px 20px;

	box-shadow: 0 10px 20px -10px #1CBBB4;
}

form input[type="text"]:valid, form input[type="email"]:valid,
	form input[type="password"]:valid, .loginForm .password {
	color: black;
	border: 1px solid #1CBBB4 !important;
	box-shadow: 0 0 0 2px rgba(46,204,64,.5);
	border-radius: 4px;

	padding-left: 10px;
}

form button:hover, form button:hover {
	/* background-color: #21948f; */
	box-shadow: 0 0 0px 0px #1CBBB4;
}

.g-recaptcha {
	display: inline-block;
}


@media only screen and (max-width: 360px) {
	.g-recaptcha {
		transform: scale(0.8);
		transform-origin: 0 0;
	}

}

@media only screen and (orientation: landscape) {
	main.index {
		padding-left: 8%;
		padding-right: 8%;
		text-align: left;
	}

	.g-recaptcha {
		float: left;
	}

	.card {
		/* see 3 cards, but given room for cards to fit :) */
		width: 29.3%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 20px;
	}

	.description {
		text-align: center;
		padding: 15px 25px;
	}

	.clearfix {
		display: none;
	}

}


.floating-add {
	background-color: white;
	cursor: pointer;
	/* box-shadow: 0px 10px 20px -7px #323232; */
	box-shadow: 0px 10px 20px -5px #9FAFCA;


	user-select: none;
	position: fixed;
	bottom: 20px;
	right: 8%;


	border-radius: 100%;
	width: 75px;
	line-height: 75px;
	height: 75px;

	border: 1px solid black;


	transition: all 0.1s linear;
	text-align: center;
}


.floating-add:active {
	border: 1px solid black;
	box-shadow: 0px 0px 0px 0px #9FAFCA;
	transform: translateY(10px);
}


.floating-add .icon {
	display: inline-block;
	vertical-align: middle;
}

.floating-add img.icon {
	height: 60%;
}
