main.index {
	/* remove white space between blocks */
	font-size: 0;
	padding-top: 30px;
	text-align: center;
}

.link-wrapper {
	width: 100%;
	display: block;
	position: relative;
}

.card {
	position: relative;
	display: inline-block;
	width: 85%;
	margin-bottom: 50px;
}

.image-container {
	width: 100%;
	box-shadow: 0px 10px 50px -10px #9FAFCA;

	border-radius: 7px;
}

.overlay-container {
	width: 100%;
	height: auto;
}

.image-container .image {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 7px 7px 0px 0px;

}

.image-container .image:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.description {
	text-transform: capitalize;
	text-align: left;

	padding: 30px 50px;

	width: 100%;
	color: #6E8795;


	font-size: 1rem;

	/* color: black; */
}

a.link-wrapper {
	text-decoration: none;
}

.link-wrapper:visited {
}


.loginForm, .signupForm {
	width: 80%;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding-bottom: 3rem;
}

.loginForm input, .signupForm input {
	display: block;
	outline: none;
	border: none;
	border-bottom: 1px solid #8f8f8f;

	padding: 10px 0px;
	border-radius: 3px 3px 0 0;

	transition: border-color 0.5s, color 0.5s;
	width: 100%;

	color: #8f8f8f;
}

.loginForm input:focus, .signupForm input:focus {
	/* background-color: #EDF0F7; */
	border-color: black;
	color: black;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.loginForm label, .signupForm label {
	display: block;

	margin-bottom: 10px;
	margin-top: 50px;
	user-select: none;
}

.loginForm .submit-container, .signupForm .submit-container {
	text-align: right;
}

.loginForm button, .signupForm button {
	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	background-color: #1CBBB4;
	color: white;
	transition: all 0.35s ease;


	margin-top: 30px;
	display: inline-block;

	border: none;
	border-radius: 4px;
	padding: 13px 20px;

	box-shadow: 0 10px 20px -8px #1CBBB4;
}

.loginForm button:hover, .signupForm button:hover {
	/* background-color: #21948f; */
	box-shadow: 0 0 0px 0px #1CBBB4;
}

@media only screen and (orientation: landscape) {
	.card {
		width: 30%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.description {
		padding: 15px 25px;
	}

}
