<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login_signup_style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="content">
			<div class="navbar">
				<div style="margin-left: 1%;">
					<img src="/images/spectdone.png" width=66px height=46px class="left" alt="spect"/>
				</div>
			  <a class = "right" href="/signup">Sign Up</a>
			  <a class = "right" href="/login">Login</a>
			</div>

			<h1>Make A New Category!</h1>

			<form class="loginForm" method="post">
				<div class="field-wrap">
					<input type="text" name="category-name" class="category_name text-area" placeholder="&nbsp;category name"/>
				</div>
				<input type="submit" class="submission" value="create category"/>

			</form>
		</div>

		<script>
			let form = document.querySelector(".loginForm");
			let categoryName = document.querySelector(".category_name");

			form.onsubmit = function(evt) {
				evt.preventDefault();


				// if no account info was specific, abort
				if (categoryName.value == "") {
					alert("category name must not be empty");
					return;
				};

				createUrl = "/createcategory/" + categoryName.value + "/";

				$.ajax({
					url: createUrl,
					data: JSON.stringify({
						category: categoryName.value,
					}),
					type: "POST",
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(res) {
						console.log(res);
						alert("successfully created category");
						window.location.href = '/';
						// create success animations
					},

					error: function(res, err) {
						console.log("failed with " + res.status);
						alert("that category already exists!");
						// create failure animations
					}
				});


			}
		</script>
	</body>
</html>
