<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1></h1>

    <p>Welcome to </p>
    <p>hello world</p>


    <% for (var key in best) { %>
      <img src="/pictures/<%= key %>/<%= best[key] %>"/>
    <% } %>


  </body>
</html>
