<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login_signup_style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="navbar">
		  <a class = "left" href="/about">About</a>
		  <a class = "right" href="/signup">Sign Up</a>
		  <a class = "right" href="/login">Login</a>
		</div>

		<h1>Welcome Back!</h1>

		<form class="loginForm" method="post">
			<div class="field-wrap">
				<input type="text" name="username" class="username" placeholder="Username"/>
			</div>
			<div class="field-wrap">
				<input type="password" name="password" class="password" placeholder="Password"/>
			</div>
			<input type="submit" class="submission" value="Log In"/>

		</form>


		<script>
			let form = document.querySelector(".loginForm");
			let loginUsername = document.querySelector(".username");
			let loginPassword = document.querySelector(".password");

			form.onsubmit = function(evt) {

				console.log(loginUsername.value);
				console.log(loginPassword.value);

				// if no account info was specific, abort
				if (loginUsername.value == "" || loginPassword == "") return;

				loginUrl = "/login/" + loginUsername.value + "/"
				 + loginPassword.value + '/';

				console.log(loginUrl);

				$.ajax({
					url: loginUrl,
					data: JSON.stringify({
						username: loginUsername.value,
						password: loginPassword.value
					}),
					type: "POST",
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(res) {
						console.log(res);
						window.location.href = '/';

						// create success animations
					},

					error: function(res, err) {
						console.log("failed with " + res.status);

						// create failure animations
					}
				});


				evt.preventDefault();
			}
		</script>
	</body>
</html>
