<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<style>
		.card {
			/* box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2); */
			max-width: 500px;
			width: 500px;
			height: 500px;
			margin: auto;
			text-align: center;
			font-family: Poppins;


			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.title {
			color: #669999;
			font-size: 16px;
		}

		a {
			text-decoration: none;
			/* font-size: 22px; */
			color: black;
		}

		.footer {
			position: fixed;
			bottom: 0;
		}
	</style>
</head>

<body>

	<div class="topnav">
		<% for (var cat in allCat) { %>
			<a class="left" href="/category/<%= allCat[cat] %>"><%= allCat[cat] %></a>
		<% } %>
	</div>

	<div class="lownav">
		<a class="left logo-container" href="/">
			<img class="logo" width="66px" height="46px" src="/images/spectdone.png"/>
		</a>

		<% if (sessionid == null) { %>
			<a class = "right" href="/signup">sign up</a>
			<a class = "right" href="/login">sign in</a>
		<% } %>

		<% if (sessionid != null) { %>
			<a class = "right" href="/profile">Hello, <%= sessionid %></a>
			<a class = "right" href="/logout">logout</a>
		<% } %>
		<a class="right" href="/createcategory">create category</a>
	</div>


	<h2 style="text-align:center">User Profile Card</h2>
	<div class="card">
		<h1><%= sessionid %></h1>
		<p>uploads</p>
	</div>


	<div class="footer">
		<a href="#github">GitHub</a>
	</div>

	<script>
	$(document).ready(function() {
		var imgs = $('.fix');
		if (imgs.width() > imgs.height()) {
			imgs.css('height', '100%');
			imgs.css('width', 'auto');
		} else if (imgs.height() > imgs.width()) {
			imgs.css('width', '100%');
			imgs.css('height', 'auto');
		}

	});
	</script>

</body>

</html>
