<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Sign Up</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login_signup_style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="content">
			<div class="navbar">
				<div style="margin-left: 1%;">
					<img src="/images/spectdone.png" width=66px height=46px class="left" alt="spect"/>
				</div>
				<a class = "right" href="/signup">sign up</a>
				<a class = "right" href="/login">sign in</a>
			</div>

			<div class="focus-container">
	    	<img class="focus" src="/images/spectdone.png" width=300px alt="spect"/>
    	</div>

			<h2 align=center style="color:white;">Sign Up for Free!</h2>

			<form class="loginForm" method="post">
				<div class="field-wrap">
					<input type="text" name="username" class="username text-area" placeholder="&nbsp;Choose A Username"/>
				</div>
				<div class="field-wrap">
					<input type="password" name="password" class="password text-area" placeholder="&nbsp;Choose A Password"/>
				</div>
				<input type="submit" class="submission" value="Create Account"/>
			</form>


		<script>
			let form = document.querySelector(".loginForm");
			let loginUsername = document.querySelector(".username");
			let loginPassword = document.querySelector(".password");

			form.onsubmit = function(evt) {
				evt.preventDefault();

				console.log(loginUsername.value);
				console.log(loginPassword.value);


				loginUrl = "/signup/" + loginUsername.value + "/"
				 + loginPassword.value + '/';

				console.log(loginUrl);

				$.ajax({
					url: loginUrl,
					data: JSON.stringify({
						username: loginUsername.value,
						password: loginPassword.value
					}),
					type: "POST",
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function(res) {
						console.log(res);
						window.location.href = '/';

						// create success animations
					},

					error: function(res, err) {
						console.log("failed with " + res.status);

						// create failure animations
					}
				});
			}
		</script>
		</div>


	</body>
</html>
