<!doctype html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>upload</title>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	</head>

	<body>
		<form>

			<input id="fileSelect" type="file" name="photo" accept="image/x-png,image/gif,image/jpeg"/>
		</form>
		<button id="upload-button">Upload</button>



		<script>
			var fileSelect = document.getElementById('fileSelect');
			var button = document.getElementById('upload-button');


			function upload() {
			    file = fileSelect.files[0];
					console.log(file['name']);
			    console.log("got the file");

			    var fileReader = new FileReader();
			    fileReader.addEventListener("load", function() {
			        var n = 0;
			        n = fileReader.result.search("base64,") + 7;

			        temp = fileReader.result.substring(n, fileReader.result.length);
			        console.log("base64 retrieved");

			        // $('.progress-layer').css('display', 'block');
			        // $('.progress-layer').css('opacity', '1');

			        // AJAX REQUEST GOES HERE
			        $.ajax({
			            url: '/upload/',
			            data: JSON.stringify({img: temp, filename: file['name']}),
			            type: "POST",
			            contentType: "application/json; charset=utf-8",
			            dataType: "json",
			            xhr: function(){
			                // get the native XmlHttpRequest object
			                var xhr = $.ajaxSettings.xhr();
			                xhr.upload.onprogress = function(evt){
			                    // $('.progress-bar .loader').css('width', (evt.loaded/evt.total*100) + '%');
			                    console.log('progress', evt.loaded/evt.total*100, '\n');
			                }
			                return xhr ;
			            },

			            success: function(response) {
			                alert("Upload Successful!");
			                // $('.progress-bar .loader').css('width','0%');

			                // $('.progress-layer').css('opacity', '0');
			                // setTimeout(function(){
			                    // $('.progress-layer').css('display', 'none');
			                // }, 1000);

			                console.log("upload successful");
			                console.log(typeof response);
			                console.log(response);

			                // dump file
			                $('#form').trigger("reset");
			            }

			        });
			        console.log("request sent");
			    });
			    fileReader.readAsDataURL(file);
			}

			button.onclick = upload;


		</script>
	</body>
</html>
