<!doctype html>


<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />


		<title>Upload - Category</title>


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="/scripts/filepond.js"></script>
		<link rel="stylesheet" type="text/css" href="/styles/filepond.css"/>
		<script type="text/javascript" src="/scripts/filepond-plugin-image-preview.js"></script>
		<link rel="stylesheet" type="text/css" href="/styles/filepond-plugin-image-preview.css" />
		<script type="text/javascript" src="/scripts/filepond-plugin-file-encode.js"></script>
		<script type="text/javascript" src="/scripts/filepond-plugin-file-validate-type.js"></script>



		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/styles/main.css" />
		<link rel="stylesheet" type="text/css" href="/styles/content.css" />
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

		<script src="/scripts/lib.js"></script>
	</head>

	<body>
		<header>
			<nav>
				<input class="trigger" type="checkbox" id="hamburger"/>

				<a class="github" href="https://github.com/DamSenViet/LAHacks-Improved"><img src="/icons/github.svg"/></a>

				<a class="logo" href="/">Upload</a>


				<label class="right hamburger center-parent mobile" for="hamburger">
					<div class="center">
						<div class="top bar"></div>
						<div class="middle bar"></div>
						<div class="bottom bar"></div>
					</div>
				</label>

				<div class="menu-items">
					<div class="search">
						<input type="text" list="suggestions" placeholder="Search..."/>

						<datalist id="suggestions">
							<option value="wow"></option>
						</datalist>
					</div>

					<a class="main" href="/login.html"><span class="centered-text">Login</span></a>
					<a class="main" href="/signup.html"><span class="centered-text">Sign Up</span></a>

					<!-- <div class="dropdown settings">
						<a class="main">DamSenViet</a>
						<ul>
							<li><a class="user-icon">Profile</a></li>
							<li><a class="gear-icon">Settings</a></li>
						</ul>
					</div> -->


					<div class="dropdown categories">
						<a class="main desktop">Categories</a>
						<ul class="desktop">
							<li><a href="test">cats</a></li>
							<li><a>dogs</a></li>
							<li><a>thing</a></li>
							<li><a>wow</a></li>
						</ul>

						<div class="select-wrapper mobile">
							<select>
							<option disabled selected hidden>Categories</option>
								<option value="1">cats</option>
								<option value="2">dogs</option>
								<option value="3">humans</option>
								<option value="4">robots</option>
							</select>
						</div>
					</div>

				</div>
			</nav>
		</header>


		<main class="upload">

			<div class="background desktop">
				<img src="/media/upload.svg"/>
			</div>

			<div class="form">
				<form class="uploadForm">

					<h2 class="submit-category">Submit to <span>Cats</span></h2>

					<label for="title"><span>Post Title</span><span class="error-message"></span></label>
					<input id="title" class="title" type="text" name="title" placeholder="" autocomplete="off" required/>

					<label for="description"><span>Description</span> <span class="error-message"></span></label>
					<div class="block-wrapper">
						<textarea id="description" class="description" maxlength="140" placeholder="Enter text here.." autocomplete="off"></textarea>
						<div class="character-count">140</div>
					</div>

					<label for="file"><span>Add Photo</span> <span class="error-message"></span></label>
					<input id="file" class="filepond file" type="file" accept="image/*" required/>

					<div class="submit-container">
						<button id="submit" class="submit" type="submit"><div class="upload-progress"></div><span>Upload</span></button>
					</div>
				</form>
			</div>
		</main>




		<!-- FilePond  script -->
		<script>
			FilePond.registerPlugin(
				FilePondPluginImagePreview,
				FilePondPluginFileEncode,
				FilePondPluginFileValidateType
			);

			const inputElement = document.querySelector('.filepond');
			// create the instance
			const filepond = FilePond.create(inputElement, {
				// server: 'https://pqina.nl/filepond/api/'
			});

			// for altering events
			const pond = document.querySelector('.filepond-root');
			const hold = document.querySelector('input[name="filepond"]');
		</script>

		<!-- functional script -->
		<script>
		const rem =	parseFloat(
			window.getComputedStyle(document.documentElement,null).getPropertyValue("font-size")
		);

		const form = document.querySelector('form');
		const title = document.querySelector('form .title');
		const description = document.querySelector('form .description');


		/* PREVENT TOO MUCH DESCRIPTION */
		/* ALSO AUTO-EXPAND TEXTAREA */

		// resize when user desides to delete characters
		description.onkeyup = function() {
			// smoothly keep old size
			let old = this.style.minHeight;

			// act as if it has no size and figure out it's actual size from scroll
			this.style.minHeight = "auto";
			// overwrite and set to scrollsize

			// cap resize
			if (this.scrollHeight >= 0.4 * window.innerHeight) {
				this.style.minHeight = old;
				document.querySelector('.character-count').style.right = "25px";
			} else {
				this.style.minHeight = (this.scrollHeight + 40) + "px";
				document.querySelector('.character-count').style.right = "10px";
			}
		}

		description.onkeydown = function() {
			if (this.value.length > this.maxLength) {
				this.value = this.value.substr(0, this.maxLength);
				console.log(this.maxLength);
			}
			//update left-over character count
			document.querySelector('.character-count').innerHTML = this.maxLength - this.value.length;
			this.onkeyup();
		}

		// trigger; a bit after pasting (otherwise it'll have extra characters)
		description.onpaste = function(){
			window.setTimeout(function(){
				this.onkeydown();
			}, 100);
		}

		// only one encodedChecker interval exists at any time
		var encodedChecker = null;
		// AJAX SEND SEQUENCE
		form.onsubmit = function(evt) {
			// NOTE: pattern matching occurs before preventDefault :)
			// input required checking also done for us
			evt.preventDefault();
			console.log('attempted submit')

			$('#submit').removeClass('JSfail');
			$('#submit').addClass('JSonprogress');

			// reset encodedChecker
			if (encodedChecker !== null) {
				window.clearInterval(encodedChecker);
				encodedChecker = null;
			}

			// start/restart encodedChecker on click
			// check every 300ms for encoding finish
			encodedChecker = window.setInterval(function(){
				console.log('polling...');
				if ($('input[name="filepond"]')[0].value !== "") {
					console.log('encoding finished');
					// begin upload process, disable interference
					button = document.querySelector('.submit');
					button.disabled = true; //disable button
					// button.querySelector('span').innerHTML = "Uploading";

					//begin to send AJAX request
						// on success validate all fields
						// on error set error message, invalidate invalid fields
					$.ajax({
						url: '/TEMPORARY',
						data: JSON.stringify({
							title: title.value,
							description: description.value,
							imgData: JSON.parse($('input[name="filepond"]')[0].value)
						}),
						type: 'POST',
						contentType: 'application/json',
						dataType: 'json',
						xhr: function(){
                // get the native XmlHttpRequest object
                var xhr = $.ajaxSettings.xhr() ;
                // set the onprogress event handler
                xhr.upload.onprogress = function(evt){
                    $('.upload-progress').css('width', (evt.loaded/evt.total * 100) + '%');
                    console.log('upload progress:', evt.loaded/evt.total * 100);
                };
                return xhr;
            },
						success: function(res, status, xhr) {
							// always know what's coming back
							$('#submit').addClass('JSsuccess');
							// setTimeout for animations
							// do redirect to photo
							console.log('success');
						},
						error: function(xhr, status, error) {
							// handle based on status
							$('#submit').addClass('JSfail');
						},
						complete: function(xhr, status) {
							$('.upload-progress').css('width', '0%');
							$('#submit').removeClass('JSonprogress');
							// button.querySelector('span').innerHTML = "Upload";
							button.disabled = false; // re-enable button
						}
					});

					window.clearInterval(encodedChecker);
					encodedChecker = null;
				}
			}, 300);
		};



		</script>
		<script src="/scripts/main.js"></script>
	</body>
</html>
