body {
	margin: 0;
	font-family: Poppins;
}

p {
	margin: 5px;
}

.tab {
	padding-left: 20px;
}

/* CSS FOR NAV BAR*/

.left {
	float: left;
}

.right {
	float: right;
}

.lownav {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 100%;
	/* Full width */
	margin-top: 20px;
}

/* Links inside the navbar */

.lownav a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
}

/* Change background on mouse-over */

.lownav a:hover {
	background: #ddd;
	color: black;
}

.topnav {
	overflow: hidden;
	background-color: #D3D3D3;
	position: fixed;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 100%;
	/* Full width */
	font-size: 14px;
	z-index: 1;
}

/* Links inside the navbar */

.topnav a {
	display: block;
	color: black;
	text-align: center;
	padding: 1px 20px;
	text-decoration: none;
}

/* Change background on mouse-over */

.topnav a:hover {
	background: #darkgrey;
	color: white;
}

.anotherone {
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* Main content */

.main {
	margin-top: 175px;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
}

/* CSS FOR PHOTO GRID */

#boxshadow {
	position: relative;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.wrapper {
	text-align: left;
	z-index: -1;
	display: inline-block;
	width: 20vw;
	background-color: #D3D3D3;
	border-radius: 8px;
	margin: 20px;
}

.crop {
	position: relative;
	overflow: hidden;
	height: 20vw;
}

.wrapper img {
	width: 20vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* ********CSS FOR FOOTER *************** */

.footer {
	overflow: hidden;
	background-color: #333;
	/* Set the navbar to fixed position */
	left: 0;
	bottom: 0;
	/* Position the navbar at the bottom of the page */
	width: 100%;
	position: fixed;

	/* Full width */
	z-index: 1;
}

/* Links inside the navbar */

.footer a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
}

/* Change background on mouse-over */

.footer a:hover {
	color: white;
}

.logo {
	width: 66px;
	height: auto;
	position: static;
	transform: unset;
	padding: 0 0;
}

.lownav .logo-container {
	box-sizing: border-box;
	/* height: ; */
	padding: 10px 30px 0 30px;
}
