<!DOCTYPE html>
	<html>
		<head>
			<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
				<style>
					.card {
 						box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
  						max-width: 500px;
  						margin: auto;
  						text-align: center;
  						font-family: arial;
					}

                  	.title {
  						color: #669999;
  						font-size: 16px;
					}

					a {
  						text-decoration: none;
  						font-size: 22px;
  						color: black;
  					}
				</style>
		</head>
		<body>

			<h2 style="text-align:center">User Profile Card</h2>
			<div class="card">
  				//profile image goes here
  				<h1>username</h1>
  				<p class="title">Bio</p>
			</div>
		</body>
	</html>
