main.index {
	/* remove white space between blocks */
	font-size: 0;
	padding-top: 30px;
	text-align: center;
}

.link-wrapper {
	width: 100%;
	display: block;
	position: relative;
}

.card {
	position: relative;
	display: inline-block;
	width: 85%;
	margin-bottom: 50px;
	font-size: 1rem;
}

.image-container {
	width: 100%;
	box-shadow: 0px 10px 50px -10px #9FAFCA;

	border-radius: 7px;
}

.overlay-container {
	width: 100%;
	height: auto;
}

.image-container .image {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 7px 7px 0px 0px;

}

.image-container .image:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.card .description {
	word-wrap: break-word;
	color: black;
	text-transform: capitalize;
	text-align: left;
	user-select: none;

	padding: 30px 10%;
	width: 100%;

	font-size: 1rem;
}

a.link-wrapper {
	text-decoration: none;
}

.floating-add {
	background-color: white;
	cursor: pointer;

	/* box-shadow: 0px 10px 20px -7px #323232; */
	box-shadow: 0px 10px 20px -5px #6b86b3;


	user-select: none;
	position: fixed;
	bottom: 20px;
	right: 8%;


	border-radius: 100%;
	width: 75px;
	line-height: 75px;
	height: 75px;

	border: 1px solid black;


	transition: all 0.1s linear;
	text-align: center;
}


.floating-add:hover {
	background-color: #e3e9f2;
}

.floating-add:active {
	border: 1px solid black;
	box-shadow: 0px 0px 0px 0px #9FAFCA;
	transform: translateY(10px);
}

.floating-add:active img.icon {
	transform: scale(0.8);
}

.floating-add .icon {
	display: inline-block;
	vertical-align: middle;
	pointer-events: none;
}

.floating-add img.icon {
	height: 60%;
	transition: all 0.05s ease;
}

/* generic styles for forms */

form {
	width: 80%;
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding-bottom: 3rem;
}

form input {
	display: block;
	outline: none;
	border: none;
	border-bottom: 1px solid #8f8f8f;

	padding: 10px 0px;
	border-radius: 3px 3px 0 0;

	transition: all 0.5s;
	width: 100%;

	color: #8f8f8f;
}

form input[type="text"]:focus, form input[type="email"]:focus,
	form input[type="password"]:focus {
	/* background-color: #EDF0F7; */
	border-bottom-color: black;
	color: black;
}

form label {
	user-select: none;

	display: block;
	margin-bottom: 10px;
	margin-top: 50px;
}

form label span {
	vertical-align: middle;
}
.error-message {
	font-size: 0.9rem;

	background-color: #FF3565;
	box-shadow: 0 2px 10px -2px rgba(255, 54, 101, 0.55);

	border-radius: 3px;
	color: white;

	vertical-align: middle;

	display: inline-block;
	padding: 3px 10px;
	margin-left: 10px;

}
.error-message:empty {
	display: none;
}

form .submit-container {
	margin-top: 50px;
	padding-bottom: 80px;
	text-align: right;
}

.submit-container button {
	position: relative;
	top: 0;
	left: 0;

	text-transform: uppercase;
	letter-spacing: 2px;
	cursor: pointer;
	background-color: #1CBBB4;
	color: white;
	transition: all 0.5s linear, transform 0.35s ease;

	display: inline-block;

	border: none;
	border-radius: 4px;
	padding: 13px 20px;

	box-shadow: 0 10px 20px -10px #1CBBB4;
}

.submit-container button:hover  {
	box-shadow: 0 0 0px 0px #1CBBB4;
	transform: translateY(5px);
}

.submit-container button:active {
	transform: translateY(15px);
}

/* specific styles for upload */
.upload .submit-container button, .create .submit-container button {
	background-color: #6c63ff;
	box-shadow: 0 10px 20px -10px #6c63ff;
}

.upload .submit-container button:after {
	box-sizing: content-box;
	font-family: FontAwesome;
	content: '\f093';
	text-align: center;
	margin-left: 15px;
	vertical-align: middle;
	display: inline-block;
	float: right;
}

.upload .submit-container button.JSonprogress:after {
	content: '';
	border: 2px solid white;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;

  width: 0.8rem;
	height: 0.8rem;
  border-radius: 100%;
  animation: spin 0.75s infinite linear;
}

.upload .submit-container button.JSsuccess {
	background-color: #1CBBB4;
}

.upload .submit-container button.JSfail {
	background-color: #FF3565;
	box-shadow: 0 10px 20px -10px rgba(255, 54, 101, 0.55);
}

.upload .submit-container button.JSfail:after {
	font-size: 1em;
	content: '\f00d';
}



.upload .submit-container button .upload-progress {
	background-color: rgba(0, 0, 0, 0.09);

	/* allow click-through */
	pointer-events: none;

	position: absolute;
	top: 0;
	left: 0;
	/* let width be set by progress */
	/* width: 50%; */

	height: 100%;
	transition: width 0.25s linear;
}

.upload .submit-container button.JSsuccess:after {
	content: '\f00c';
	border: none;
	width: auto;
	height: auto;
	border-radius: none;
	animation: none;
}

.upload .submit-container {
	margin-top: 0px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.block-wrapper {
	position: relative;
	width: 100%;
}

.uploadForm .description {
	border: 1px solid #8f8f8f;
	padding: 10px;
	resize: none;
	width: 100%;
	/* setting min-height dynamically with JS for resizing textarea */
	display: block;
	border-radius: 4px;
	height: auto !important;
	padding-bottom: 1rem;
	}

.character-count {
	position: absolute;
	bottom: 4px;
	right: 10px;
	color: gray;
}

.filepond--panel-root {
	background-color: #EDF0F7;
	transition: all 0.1s linear;
}

.filepond--item-panel {
  background-color: #6c63ff;
}

.filepond {
	width: 100%;
}

/* input validation for signup form */
form.signupForm input[type="text"]:valid,
	form.signupForm input[type="password"]:valid,
	form input[type="text"].JSsuccess,
	form input[type="password"].JSsuccess {
	color: black;
	border: 1px solid #1CBBB4 !important;
	box-shadow: 0 0 0 2px rgba(46,204,64,.5);
	border-radius: 4px;
	padding-left: 10px;
}

/* for error response from server, override valid styles */
input.JSinvalid, form.signupForm input.JSinvalid[type="text"]:valid,
 	form.signupForm input.JSinvalid[type="password"]:valid {
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.4);
	border: 1px solid #F25D59 !important;
	border-radius: 4px !important;
	padding-left: 10px !important;

	animation: shake 0.82s cubic-bezier(.35, .07, .19, .97) 1 both;
}

textarea.JSinvalid {
	box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.4);
	border: 1px solid #F25D59;
	animation: shake 0.82s cubic-bezier(.35, .07, .19, .97) 1 both;
}
textarea.JSsuccess {
	border: 1px solid #1CBBB4 !important;
	box-shadow: 0 0 0 2px rgba(46,204,64,.5);
}

.file.JSinvalid {
	animation: shake 0.82s cubic-bezier(.35, .07, .19, .97) 1 both;
}

.file.JSinvalid .filepond--panel-root {
	background-color: #FF3565;
}

.file.JSsuccess .filepond--panel-root {
	background-color: #1CBBB4;
}

.file.JSinvalid .filepond--drop-label {
	color: white;
}

.submit-category {
	margin-top: 50px;
	font-weight: 600;
	letter-spacing: 1px;
}

.submit-category span {
	text-transform: capitalize;
}

@keyframes shake {
	10%, 90% {transform: translate(-4px, 0);}
	20%, 80% {transform: translate(4px, 0);}
	30%, 50%, 70% {transform: translate(-6px, 0);}
	40%, 60% {transform: translate(6px, 0);}
}

/* repositioning to make layout responsive */
.submit-container button {
	float: right;
}

.login .submit-container button,
	.signup .submit-container button,
	.upload .submit-container button,
	.create .submit-container button {
	margin-top: 30px;
}

.clearfix {
	height: 0;
	display: block;
	clear: both;
}

.g-recaptcha {
	float: right;
	display: inline-block;
}


@media only screen and (max-width: 360px) {
	.g-recaptcha {
		transform: scale(0.8);
		transform-origin: 100% 0;
	}
}

@media only screen and (orientation: landscape) {
	main.index {
		padding-left: 8%;
		padding-right: 8%;
		text-align: left;
	}

	.g-recaptcha {
		float: left;
	}

	.card {
		/* see 3 cards, but given room for cards to fit :) */
		width: 29.3%;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 20px;
	}

	.card .description {
		text-align: center;
		height: auto;
		padding: 15px 25px;
	}

	.clearfix {
		display: none;
	}
}

@media only screen and (min-width: 700px) and (min-height: 700px) {
	main.index {
		padding-left: 2%;
		padding-right: 2%;
	}

	.clearfix {
		display: block;
	}

	.card {
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 30px;
	}

	.card .description {
		text-align: center;
		padding: 13px 20px;
	}

	.floating-add {
		transition: all 0.1s linear;
		right: 50px;
		bottom: 40px;
	}

	main.login .background, main.signup .background, main.upload .background,
 		main.create .background {
		position: relative;
		float: left;
		height: 100%;
		width: 50%;
		overflow: hidden;
	}

	main.login .form, main.signup .form, main.upload .form,
		main.create .form {
		float: right;
		width: 50%;
		height: 100%;
		padding: 10px;
		overflow-y: auto;
	}

	.login .background img, .signup .background img, .upload .background img,
	 	.create .background img {

		position: absolute;
		top: 50%;
		width: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.g-recaptcha {
		float: right;
		transform: scale(0.8);
		transform-origin: 100% 0;
		transition: all 0.75s;
	}

	form .submit-container {
		padding-bottom: 100px;
	}

	/* .character-count {
		right: 25px;
	} */

	@media only screen and (min-width: 1090px) {
		.card {
			width: 19%;
			margin-left: 0.5%;
			margin-right: 0.5%;
		}

		.g-recaptcha {
			float: left;
			transform: none;
		}

		.clearfix {
			display: none;
		}
}
